In [1]:
create table tablo(
    ad varchar(20)
)

SyntaxError: ignored